<ion-view view-title="Contact" ng-controller="contactusCtrl">
    <ion-content>
        <div class="gem-profile-media">
            <div class="gem-profile-details profile2">
                &nbsp;
                <h3 class="gem-white">Gamifad</h3>
                <p>Caption Goes Here...</p>
                <div>
                    <i class="icon ion-ios-telephone"></i> +91 9912487505 ||
                    <i class="icon ion-ios-telephone"></i> +91 8297334389
                </div>
            </div>
            <img src="img/banner.jpg" alt="" class="fluid-image profile-background-image" style="vertical-align:middle;">
        </div>

        <div class="row profile-stats profile-3">
            <div class="col stat">
                <h5 class="gem-white"><i class="ion-email gem-white"></i> support@gamifad.com </h5>
            </div>
            <div class="col stat">
                <h5 class="gem-white"><i class="ion-android-globe gem-white"></i> www.gamifad.com </h5>
            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                <h3>Gamifad</h3>
                <p>Whitefield road, Banglore,</p>
                <p>Karnataka, India - 560067.</p>
            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                <h3>SV, Cyber Hills(3)</h3>
                <p>Rushikonda, Vishakhapatnam,</p>
                <p>Andhra Pradesh, India - 530045.</p>
            </div>
        </div>
    </ion-content>
</ion-view>
