<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content class="post-size-14px text-center">
        <ion-nav-bar class="bar" edge-drag-threshold="true">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <ion-label>{{cartItemsCount}}</ion-label>
                <img ng-src="img/cart.png" style="width:40px; float:right;" ui-sref="myApp.userCart">
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left" class="main-menu"><!-- expose-aside-when="large" -->
        <ion-content>
            <ion-list>

                <ion-item class="heading-item item item-avatar" nav-clear menu-close href="#/myApp/profile">
                    <div class="user-image-container">
                        <pre-img ratio="_1_1" helper-class="rounded-image">
                            <img class="user-image rounded-image" ng-src="img/meganFox.jpg" style="border-radius:100px;" width="100%" spinner-on-load>
                        </pre-img>
                    </div>
                </ion-item>

                <ion-item class="item-icon-left" nav-clear menu-close href="#/myApp/home">
                    <i class="icon ion-home"></i>
                    <h2 class="menu-text">Home</h2>
                </ion-item>

                <ion-item class="item-icon-left" nav-clear menu-close href="#/myApp/search">
                    <i class="icon ion-search"></i>
                    <h2 class="menu-text">Search</h2>
                </ion-item>

                <ion-item class="item-icon-left" nav-clear menu-close href="#/myApp/login">
                    <i class="icon ion-person"></i>
                    <h2 class="menu-text">Login</h2>
                </ion-item>

                <ion-item class="item-icon-left" nav-clear menu-close href="#/myApp/offers">
                    <i class="icon ion-star"></i>
                    <h2 class="menu-text">Offers</h2>
                </ion-item>

                <ion-item class="item-icon-left" nav-clear menu-close href="#/myApp/coupons">
                    <i class="icon ion-ribbon-b"></i>
                    <h2 class="menu-text">Coupons</h2>
                </ion-item>

                <ion-item class="item-icon-left" nav-clear menu-close href="#/myApp/aboutus">
                    <i class="icon ion-document"></i>
                    <h2 class="menu-text">About</h2>
                </ion-item>

                <ion-item class="item-icon-left" nav-clear menu-close href="#/myApp/contactus">
                    <i class="icon ion-person-stalker"></i>
                    <h2 class="menu-text">Contact us</h2>
                </ion-item>

            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
