<ion-view view-title="Home" ng-controller="homeCtrl" ng-init="loadProducts()">
    <ion-content>
        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search" ng-click="gotoSearchPage()">
            </label>
        </div>




<div class="item card animated  {{animateSwipeCard.class}}"   on-release="onRelease()"  on-drag-left="onSwipeLeft()"  >
    <div class="item item-body">
 <img class="full-image" src="{{animateSwipeCard.currentImg}}">

</div>
</div>

      <!--   <div class="list card animated  {{animateSwipeCard.class}}"  on-swipe="onSwipe()" >
            <div class="item item-divider">Health</div>
            <div class="item item-body">
                <div>
                    You ate an apple today!
                </div>
            </div>
        </div> -->
        <!-- <div class="carousel-item demo-3" ng-click="vm.onSelect({item:vm.ngModel})">
            <div class="img-wrapper">
                <img ng-src="{{vm.ngModel.src}}" />
            </div>
        </div> 
        <div id="carousel-1" class="carousel-wrapper">
            <div class="info">Center on select, align left</div>
            <div class="carousel-item demo-3" ng-click="vm.onSelect({item:vm.ngModel})" ng-repeat="productImage in slideProducts">
                <div class="img-wrapper">
                    <img ng-src="{{productImage.src}}" />
                </div>
            </div>
        </div>


        <ion-slide-box on-slide-changed="slideHasChanged($index)" auto-play="true" does-continue="true" style="width:100%;height:300px;margin:auto;display:block">
            <ion-slide ng-repeat="productImage in slideProducts">
                <div class="box blue">
                    <h1>BLUE {{productImage.imgSrc}} </h1>
                    <img ng-src="{{productImage.imgSrc}}"></img>
                </div>
            </ion-slide>
        </ion-slide-box>
        
        <ion-slide-box on-slide-changed="slideHasChanged($index)"  auto-play="true" does-continue="true" style="width:100%;height:300px;margin:auto;display:block">
            <ion-slide ng-repeat="productImage in slideProducts">
                <div class="box blue">
                    <h1>BLUE {{productImage.imgSrc}} </h1> 
                     <img ng-src="{{productImage.imgSrc}}"></img> 

                </div>
            </ion-slide>
        </ion-slide-box>
 

     
        <ion-slides pager loop="true" autoplay="true" r (change)="onSlideChanged($event)" (move)="onSlideMove($event)">
            <ion-slide ng-repeat="productImage in slideProducts.productImageURLs">
                <img ng-src="{{productImage}}"></img>
            </ion-slide>
        </ion-slides>
        <br>
         
        <ion-slide-box auto-play="true" does-continue="true">
            <ion-slide ng-repeat="productImage in slideProducts.productImageURLs">
                <img ng-src="{{productImage}}" style="width:300px;height:300px;margin:auto;display:block">
            </ion-slide>
        </ion-slide-box>
 
    -->
        <div class="row" ng-repeat="category in categories" ng-if="$index % 2 == 0">
            <!-- <div class="col col-50 categories"  ng-click="exploreCategory({{categories[$index]}})">
                {{categories[$index].name}}
                
            </div> -->
            <div class="categories" ng-click="exploreCategory({{categories[$index + 1]}})">
                {{categories[$index].name}}
            </div>
        </div>
    </ion-content>
</ion-view>
