<ion-view view-title="Cart Items" ng-controller="userCartCtrl" ng-init="loadCartProducts()">
  <ion-content>
    &nbsp;
    <div class="item item-divider">
      <div class="text-center positive">Total Cost: Rs.
        {{totalCost}}/-</div>
    </div>
    &nbsp;
    <div class="card" ng-repeat="order in cartProducts track by $index">
      <div class="card" ng-repeat="product in order.line_items track by $index">

        <div class="item item-thumbnail-left" style="float: left; margin-left: 10px;">
          <!-- <img ng-src="{{item.url}}" ng-click="gotoItemView(item)"> -->
          <h2 ng-click="gotoProductView(product)">{{product.name}}</h2>
          <br/>
          <i class='icon ion-plus-round icon-plus-round' mouse-down-up ng-click='increaseQuantity($index)'></i>
          &nbsp;&nbsp;<span class='product-quantity'>{{product.quantity}}</span>&nbsp;&nbsp;
          <i class='icon ion-minus-round icon-minus-round' mouse-down-up ng-click='decreaseQuantity($index)'></i>
        </div>

        <div class="item item-divider">
          <div style="float:left;" ng-click="removeProduct($index)">Remove</div>
          <div style="float:right;">Rs.
            {{product.price}}/-</div>
        </div>

      </div>
    </div>
  </ion-content>
  <ion-footer-bar style="background-color:transparent;">
    <button class="button icon-left ion-cash button-balanced" style="width:100%;">Proceed to pay
      {{totalCost}}/-</button>
  </ion-footer-bar>
</ion-view>
